<div
   class='container-fluid vh-100 d-flex flex-column justify-content-center'
   style='background-image: linear-gradient(to top right ,#F02979, #6E3F7A)'
>
   <div class='container w-50'>
    <div class="row bg-white rounded">
        <div class="px-5 py-5">
            <h2>Registration Form</h2>
            {{> form}}
        </div>
    </div>
   </div>
</div>